body {
  font-family: 'Karla';
  margin: 0 auto;
  width: 100%;

}

.nav-links {
  display: flex;
  padding: 1em;
  list-style-type: none;
}

.navbar li a {
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13%;
}

.nav-icons {
  display: none;
}

li a:hover {
  background-color: #495E57;
  color: white;
}

.header {
  background-color: #495E57;
  padding: 40px 0;
}

.header section {
  color: #EDEFEE;
  padding: 10px 13%;
}

h2 {
  color: #F4CE14;
  font-size: 40px;
}

h3 {
  font-size: 25;
}

.banner p {
  font-size: 20px;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 30px;
}

button {
  background-color: #F4CE14;
  border: none;
  padding: 6px 10px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.banner-img {
  position: absolute;
  top: 15%;
  right: 13%;
  width: 400px;
  border-radius: 16px;
}

@media only screen and (max-width: 768px) {
  .nav-icons {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 60px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background: aliceblue;
    z-index: 1000;
    padding: 20px 0;
  }

  .navbar{
    background:#fff;
    padding: 15px 4%;
  }
}


